
.daily-quotes-main{
    background-image: url("../../../public/random_quote_bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.daily-quotes-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 48px;
}

.daily-quotes-main p{

    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 700;
    font-variant: small-caps;
    color: whitesmoke;
}