.mood-tracker-main {
    gap: 32px;
    padding: 20px;
}

.mood-tracker-container {

    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mood-picker {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mood-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mood-options .ant-radio-group {
    display: flex;
    gap: 20px;
}

.mood-tracker-main button {
    margin-top: 20px;
}
