.login-main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient(90deg, rgb(0,0,0),rgb(188,188,188),rgb(0,0,0));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

}

.login-container{
    width: 960px;
    height: 640px;

    display: flex;
    flex-direction: row;


    background-color: rgb(255, 255, 255);
    
    border-radius: 4px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);

}

.login-container-image{
    display: flex;
    align-items: center;
    justify-content: start;

    background-color: rgb(245, 245, 245);

    border-radius: 4px;
}

.login-container-form{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-container-form-section{
    width: 100%;

    display: flex;
    flex-direction: column;

    margin: 0 0 6rem 0;
    
}

.login-container-form-section #menu-button{
    width: 180px;
    height: 64px;

    margin-right: 1rem;
    
}

.login-container-form-section #menu-button:hover{
    border-bottom: 1px solid transparent;
}




