.toolbar-main button {
    margin-right: 5px;
    padding: 5px 10px;
}

.toolbar-main button:active {
    background-color: black;
    color: white;
}

.toolbar-main button.active {
    font-weight: bold;
    background-color: black;
    color: white;
}