.navbar {
    background: #0f0f0f;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;

    font-family: 'Courier New', Courier, monospace;
}
.navbar .logo {
    color: #ECF0F1;
    font-size: 1.5rem;
    padding: 0 2rem 0 1rem;
}

.nav-labels {
    display: flex;
    gap: 32px;
}

.nav-label {
    display: flex;
    color: #ECF0F1;
    font-size: 1rem;
    cursor: pointer;
}

.navbar .username{

    margin: 0 16px 0 auto;
    padding: 0;
    gap: 8px;
    display: inline-flex;
    align-items: center;

    color: #ECF0F1;
    cursor: pointer;
}