.new-diary-main-page{

    background-image: linear-gradient(rgb(214, 214, 214),rgb(19, 19, 19),rgb(214, 214, 214));
    min-height: 100vh;
}

.new-diary-main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0 50px;
}

.new-diary-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 48px;
}

.new-diary-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 48px;
    flex-grow: calc(1);
}

.digital-clock{
    margin-top: 32px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-weight: 100;
}