
.streak-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 4px;
}

.streak-container .cell{

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;

    color: aliceblue;
}